<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Калькулятор отпускных</title>
</head>
<body>

<main class="container mt-5">
    <form action="/" method="post">
        <h1 class="h3 mb-3 fw-normal">Калькулятор отпускных</h1>

        <label for="salary">Средняя зарплата</label>
        <input type="text" name="salary" class="form-control" id="salary"
               placeholder="Введите среднюю зарплату за 12 месяцев">

        <label for="vacation-days">Дни отпуска</label>
        <input type="text" name="vacation-days" class="form-control" id="vacation-days"
               placeholder="Введите количество дней отпуска">

        <div id="calendar" style="display: none">
            <label for="date">Первый день отпуска</label>
            <input id="date" name="date" type='date' class="form-control" placeholder=""/>
        </div>


        <label></label>
        <button onclick="return toggle('calendar')" class="w-100 btn btn-lg btn-primary">Указать начальную дату</button>
        <script type="text/javascript">
            function toggle (id){
                const element = document.getElementById(id);
                if( 'none' === element.style.display ){
                    element.style.display = 'block';
                } else {
                    element.style.display = 'none';
                }
                return false;
            }
        </script>

        <label></label>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Расчет</button>

        <label></label>
        <p class="h3 mb-3 fw-bold text-center">Отпускные</p>
        <p class="h3 mb-3 fw-bold text-center" id="holiday-pay" th:text="${result}"/>
    </form>
</main>
</body>
</html>
